!!!
%html
  %head
    %title= Settings.title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %link{rel: 'icon', type: 'image/png', href: '/favicon.png'}
    = yield :head
  %body{class: controller_name}
    #head
      - if signed_in?
        .sign_out= link_to 'サインアウト', signout_path, method: :delete
      - else
        .sign_in= link_to 'サインイン', signin_path
    #page
      = yield
    #foot
